CHAPTER 6: FRUITFUL FUNCTION

In [ ]:
def turn_clockwise(a):
    if a == "N":
        return "E"
    elif a == "E":
        return "S"
    elif a == "S":
        return "W"
    elif a == "W":
        return "N"
    else:
        return "None"

In [ ]:
turn_clockwise("E")

In [ ]:
turn_clockwise("rubbish")

In [2]:
a = [0,1,2,3,4,5,6]
def day_name(a):
    if a == 0:
        return "Sunday"
    elif a == 1:
        return "Monday"
    elif a == 2:
        return "Tuesday"
    elif a == 3:
        return "Wednesday"
    elif a == 4: 
        return "Thursday"
    elif a == 5:
        return "Friday"
    elif a == 6:
        return "Saturday"
    else:
        return "None"

In [18]:
DAYS = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
DAYS.index("Sunday")

0

In [19]:
def day_num(a):
    return DAYS.index(a)

In [21]:
day_num("Thursday")

4

In [22]:
def day_add(day, x):
    """Today is 'day', I leave on holiday in x days time, what day will that be? """
    return day_name((day_num(day) + x )% 7)

In [24]:
day_add("Tuesday", 25)

'Saturday'

In [25]:
day_add("Monday",-25)

'Thursday'

In [39]:
a = ['January','March','May','July','August','October','December']
b = ['June','April','September','November']

def days_in_month(m):
    """Give the days of a month"""
    for m in a:
        return 31
    for m in b:
        return 30
    if m == "February":
        return 28
    else:
        return None

In [40]:
days_in_month("October")

31

In [41]:
def to_secs(h,m,s):
    """Converts hours, minutes and seconds to a total number of seconds"""
    return (h*60*60 + m*60 + s)

In [42]:
to_secs(2,30,10)

9010

In [43]:
def to_secs(h,m,s):
    """Converts hours, minutes and seconds to a total number of seconds"""
    return int(h*60*60 + m*60 + s)

In [44]:
to_secs(2.433,0,0)

8758

In [46]:
def hours_in(h):
    """returns the whole integer number of hours represented by seconds"""
    return int(h/3600)
hours_in(9010)

2

In [48]:
def minutes_in(m):
    """returns the whole integer number of left over minutes in a total number of seconds, once the hours have been taken out """
    return int((m%3600)/60)
minutes_in(9010)

30

In [50]:
def seconds_in(s):
    """Returns the left over seconds represented by a total number of seconds"""
    return int ((s%3600)%60)
seconds_in(9010)

10

In [51]:
import math

def hypotenuse(a,b):
    """Using Pytago"""
    return math.sqrt(a*a + b*b)

In [52]:
hypotenuse(24,7)

25.0

In [55]:
def slope(x1,y1,x2,y2):
    """Calculate the slope of a line"""
    return((y2-y1)/(x2-x1))

slope(2,4,1,2)

2.0

 y = ax + b 
 1. b is the y-intercept we are looking for

In [56]:
def intercept(x1,y1,x2,y2):
    """Find the y-intercept"""
    return (y1 - x1*(slope(x1,y1,x2,y2)))

In [57]:
intercept(4,6,12,8)

5.0

In [58]:
def is_even(n):
    if n%2 ==0:
        return True
    return False

In [59]:
is_even(3245)

False

In [61]:
def is_factor(f,n):
    if f%n == 0:
        return True
    return False
is_factor(79,328)

False

In [65]:
def f2c(t):
    """degree Celsius for given temperature in Fahrenheit"""
    return ((t-32)*5/9)

In [66]:
f2c(212)

100.0

In [67]:
f2c(38.5)

3.611111111111111

In [68]:
def c2f(t):
    return round((t*9/5 + 32),2)

In [69]:
c2f(18)

64.4